[server]
hostname = "https://{URL}"
port = 8089
data_dir = "/app/data"

[tokens]
youtube = "{YOUTUBE_API_TOKEN}"
vimeo = "{VIMEO_API_TOKEN}"

[feeds]
  [feeds.Pin64]
  url = "https://www.youtube.com/channel/UCs6A_0Jm21SIvpdKyg9Gmxw/videos"
  page_size = 4 # The number of episodes to query each update (keep in mind, that this might drain API token)
  update_period = "6h" # How often query for updates, examples: "60m", "4h", "2h45m"
  quality = "high" # or "low"
  format = "video" # or "audio"
